footer {
    height: 64px;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}